.cardBusca{
    width:300px;
     background-color:#B0C4DE;
      text-align:center;
}

.cardBusca h3{
    font-size:20px;
}

.precoBusca{

    color:#CD853F;
}

.iconIda{
    color:#B22222;
    font-size:30px;
}

.iconVolta{
    color:#00FF00;
    font-size:30px;
}